html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 80%;
  margin: auto;
}
/* navmenu */
.navbar {
  background: rgba(0, 0, 0, 0.816);
  color: white;
  font-size: 1.5rem;
  position: sticky;
  top: 0px;
}
.navmenu {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  align-items: center;
}

.navlist {
  list-style: none;
  display: flex;
}
.navlist li {
  margin-left: 1.5rem;
}
li > a {
  text-decoration: none;
  color: white;
}

.navlist li a:hover {
  cursor: pointer;
  color: rgb(112, 107, 107);
  transform: scale(1.5);
}
/* hero */
.video-hero {
  min-height: 60vh;
  position: relative;
}
video {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.video-hero > div {
  position: absolute;
  top: 20vh;
  left: 5vw;
  width: 440px;
  color: white;
  background-color: rgba(12, 11, 11, 0.24);
  backdrop-filter: blur(10px);
}

/* parallax */

.img1,
.img2,
.img3 {
  /* background: #000; */
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.img1 {
  background-image: url(assets/blog1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: url(assets/blog2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background-image: url(assets/blog3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background: rgba(0, 0, 0, 0.612);
  color: white;
  padding: 1.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.paratext {
  /* background: #000; */
  padding: 50px 80px;
  /* color: aliceblue; */
  width: 100%;
}

footer {
  background: #000;
  padding: 3rem;
  color: white;
  margin-top: 0rem;
  text-align: center;
  position: sticky;
  bottom: 0px;
}
